In [29]:
import pandas as pd
import numpy as np

##### 1.Write a python program to implement List-to-Series Conversion.

In [4]:

x = [10, 20, 30, 40, 50]

series = pd.Series(x)

print("List: ")
print(x)
print("Series: ")
print(series, type(series))

List:
[10, 20, 30, 40, 50]
Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64 <class 'pandas.core.series.Series'>

**2. Write a python program to Generate the series of dates from 1st May, 2021 to 12th May, 2021 (both inclusive)**

In [9]:
start = '2021-05-01'
end = '2021-05-12'

x = pd.date_range(start=start, end=end)
for date in x:
    print(date.strftime('%Y-%m-%d'))

2021-05-01
2021-05-02
2021-05-03
2021-05-04
2021-05-05
2021-05-06
2021-05-07
2021-05-08
2021-05-09
2021-05-10
2021-05-11
2021-05-12

**3. Given a dictionary, convert it into corresponding dataframe and display it.**

In [11]:
data = {'Name': ['Akhil', 'Bhavana', 'Deepak'],
        'Age': [25, 30, 35],
        'City': ['Ranni', 'Kunnumpuram', 'Chempazhanti']}

df = pd.DataFrame(data)

print(df)

      Name  Age          City
0    Akhil   25         Ranni
1  Bhavana   30   Kunnumpuram
2   Deepak   35  Chempazhanti

**4. Given a 2D List, convert it into corresponding datafram and display it**

In [12]:
data = [['Akhil', 25, 'Ranni'],
             ['Bhavana', 30, 'Kunnumpuram'],
             ['Charlie', 35, 'Chempazhanti']]
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])

print(df)

      Name  Age          City
0    Akhil   25         Ranni
1  Bhavana   30   Kunnumpuram
2  Charlie   35  Chempazhanti

**5. Given a CSV file, read it into a dataframe and display it**

In [14]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df)

      Name  Age          City
0    Akhil   22         Ranni
1  Bhavana   22   Kunnumpuram
2   Deepak   22  Chempazhanti

**6. Given a dataframe, sort it by multiple columns**

In [17]:
data = {'col1': ['A', 'B', 'A', 'B', 'A', 'B'],
        'col2': [2, 1, 2, 3, 1, 3],
        'col3': [5, 4, 6, 7, 8, 9]}
df = pd.DataFrame(data)
print("Original df: ")
print(df)

sorteddf = df.sort_values(by=['col1', 'col2'])
print("Sorted df:")
print(sorteddf)

Original df:
  col1  col2  col3
0    A     2     5
1    B     1     4
2    A     2     6
3    B     3     7
4    A     1     8
5    B     3     9
Sorted df:
  col1  col2  col3
4    A     1     8
0    A     2     5
2    A     2     6
1    B     1     4
3    B     3     7
5    B     3     9

**7. Given a dataframe with custom indexing, convert and it to default indexing and display it.**

In [22]:
data = {'Name': ['Akhil', 'Bhavana', 'Deepak'],
        'Age': [25, 30, 35],
        'City': ['Ranni', 'Kunnumpuram', 'Chempazhanti']}

index = ['a', 'b', 'c']
df = pd.DataFrame(data, index=index)

print("Original df:")
print(df)
print("\n" + "="*30 + "\n")

newdf = df.reset_index(drop=True)

print("df with default index:")
print(newdf)

Original df:
      Name  Age          City
a    Akhil   25         Ranni
b  Bhavana   30   Kunnumpuram
c   Deepak   35  Chempazhanti

==============================

df with default index:
      Name  Age          City
0    Akhil   25         Ranni
1  Bhavana   30   Kunnumpuram
2   Deepak   35  Chempazhanti

**8. Given a dataframe, select first 2 rows and output them.**

In [24]:
data = {'Name': ['Akhil', 'Bhavana', 'Deepak'],
        'Age': [25, 30, 35],
        'City': ['Ranni', 'Kunnumpuram', 'Chempazhanti']}
df = pd.DataFrame(data)

first_two_rows = df.head(2)
print(first_two_rows)

      Name  Age         City
0    Akhil   25        Ranni
1  Bhavana   30  Kunnumpuram

**9. Given is a dataframe showing name, occupation, salary of people. Find the average salary per occupation**

In [28]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
        'Occupation': ['Engineer', 'Doctor', 'Engineer', 'Lawyer', 'Doctor', 'Engineer'],
        'Salary': [80000, 120000, 90000, 150000, 130000, 85000]}
df = pd.DataFrame(data)

salaries = df.groupby('Occupation')['Salary'].mean()

print(salaries)

Occupation
Doctor      125000.0
Engineer     85000.0
Lawyer      150000.0
Name: Salary, dtype: float64

**10. Given a dataframe with NaN values, fill the NaN values with 0**

In [30]:
data = {'A': [1, 2, np.nan, 4],
        'B': [5, np.nan, np.nan, 8],
        'C': [9, 10, 11, 12]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print("\n" + "="*30 + "\n")

df_filled = df.fillna(0)

print("DataFrame after filling NaN with 0:")
print(df_filled)

Original DataFrame:
     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  NaN  11
3  4.0  8.0  12

==============================

DataFrame after filling NaN with 0:
     A    B   C
0  1.0  5.0   9
1  2.0  0.0  10
2  0.0  0.0  11
3  4.0  8.0  12

**11. Given is a dataframe showing Company Names (cname) and corresponding Profits (profit). Convert the values of Profit column such that values in it greater than 0 are set to True and the rest are set to False**

In [31]:
data = {'cname': ['Company A', 'Company B', 'Company C', 'Company D', 'Company E'],
        'profit': [10000, -5000, 0, 2500, -100]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)
print("\n" + "="*30 + "\n")

df['profit'] = df['profit'] > 0

print("DataFrame after converting 'profit' column:")
print(df)

Original DataFrame:
       cname  profit
0  Company A   10000
1  Company B   -5000
2  Company C       0
3  Company D    2500
4  Company E    -100

==============================

DataFrame after converting 'profit' column:
       cname  profit
0  Company A    True
1  Company B   False
2  Company C   False
3  Company D    True
4  Company E   False

**12. Given are 2 dataframes, with one dataframe containing Employee ID(eid), Employee Name (ename) and Stipend (stipend) and the other dataframe containing Employee ID (eid) and designation of the employee (designation). Output the Dataframe containing Employee ID (eid), Employee Name (ename), Stipend (stipend) and Position (position)**

In [32]:
data1 = {'eid': [101, 102, 103, 104],
         'ename': ['Alice', 'Bob', 'Charlie', 'David'],
         'stipend': [50000, 60000, 75000, 55000]}
df1 = pd.DataFrame(data1)

data2 = {'eid': [101, 102, 103, 104],
         'designation': ['Manager', 'Analyst', 'Supervisor', 'Trainee']}
df2 = pd.DataFrame(data2)

merged_df = pd.merge(df1, df2, on='eid')

merged_df.rename(columns={'designation': 'position'}, inplace=True)

print(merged_df)

   eid    ename  stipend    position
0  101    Alice    50000     Manager
1  102      Bob    60000     Analyst
2  103  Charlie    75000  Supervisor
3  104    David    55000     Trainee